.env
.venv/
__pycache__/
*.pyc
data/raw/*
!data/raw/.gitkeep
data/processed/*.csv
data/database/*.db
.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/

.env.*
!.env.example
.streamlit/secrets.toml

data/source_products.csv
